---
- hosts: zenbox
  vars:
    # Available options for box setup, started with server_:
    # environment: set type of environment (dev, prod | development, production)
    # user | group: unprivileged user to own WordPress files and php-fpm pools
    # domain_name: server domain name configured in /etc/hosts
    server_environment: development
    server_unprivileged_user: nobody
    server_unprivileged_group: nogroup
    server_domain_name: zenbox.zenpress.com.br

    # Available options for Percona Server, started with percona_server_:
    # create_databases: if true, create databases
    # create_users: if true, create database users
    percona_server_create_databases: true
    percona_server_create_users: true

    # Available options for WordPress, started with wp_:
    # db_host: Database IP, default to localhost
    # db_name: Database name, default to zenbox
    # db_charset: Database encoding charset, default to utf8
    # db_collate: Database collation, default to utf8_general_ci
    # db_user: Database user, default to zenroot
    # db_password: Database user password, default to zenpassword
    wp_db_host: localhost
    wp_db_name: zenbox
    wp_db_charset: utf8
    wp_db_collate: utf8_general_ci
    wp_db_user: zenroot
    wp_db_password: zenpassword

  roles:
    - { role: users }
    - { role: nginx, tags: ['setup', 'config'] }
    - { role: php, tags: ['setup', 'config'] }
    - { role: percona-server, tags: ['setup', 'config', 'security'] }
    - { role: wordpress }
    - { role: wp-cli }
