server {
  listen [::]:80;
  listen 80;

  server_name {{ server_domain_name }};

  access_log /var/log/nginx/{{ server_domain_name }}.access.log;
  error_log /var/log/nginx/{{ server_domain_name }}.error.log;

  root /srv/www/{{ server_domain_name }}/wordpress;
  index index.php;

  if (!-e $request_filename) {
		rewrite /wp-admin$ $scheme://$host$uri/ permanent;
		rewrite ^(/[^/]+)?(/wp-.*) $2 last;
		rewrite ^(/[^/]+)?(/.*\.php) $2 last;
  }

  location / {
      try_files $uri $uri/ /index.php?q=$uri&$args;
  }

  location ~ ^/content/(.*)$ {
		alias /srv/www/{{ server_domain_name}}/content/$1;
		expires 30d;
	}

  location ~ \.php$ {
    include        /etc/nginx/fastcgi_params;
    try_files  $uri =404;
    fastcgi_split_path_info ^(.+\.php)(/.+)$;
    fastcgi_pass unix:{{ php_fpm_listen }};
    fastcgi_index  index.php;
    fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
    fastcgi_param  PATH_TRANSLATED $document_root$fastcgi_script_name;
    fastcgi_cache_key $host$request_method$request_uri;
  }

  client_max_body_size 100m;
}
